@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: black;
  background: grey;
}

h1, h2, h3, h4, h5, h6, button,
.h1, .h2, .h3, .h4, .h5, .h6, .button {
  text-transform: uppercase;
  font-weight: 500;
}

.navbar {
  padding: 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.text-green {
  color: #9BC54F;
}

.bg-green {
  background-color: #9BC54F;
}

.text-purple {
  color: #99799C;
}

.bg-purple {
  background-color: #99799C;
}

.text-dark-purple {
  color: #591F5F;
}

.bg-dark-purple {
  background-color: #591F5F;
}

.btn {
  border-radius: 0;
  padding: 0.3rem 1rem;
  font-size: 14px;
  font-weight: 200;
}

.btn-primary {
  background-color: #591F5F;
  border: none;

  &:hover, &:active {
    background-color: #591F5F;
    border: none;
  }
}

.btn-secondary {
  background-color: #9BC54F;
  border: none;

  &:hover, &:active {
    background-color: #9BC54F;
    border: none;
  }
}

.countdown {
  font-weight: 100;
  margin-bottom: 3rem;
  margin-left: 15rem;
  margin-right: 15rem;

  .date {
    font-size: 3rem;
  }

  .label {
    font-size: 1rem;
  }
}

#reefic {
  color: white;
  background-color: #99799C;
  padding: 0 3rem 8rem 3rem;

  h2 {
    margin-top: 4rem;
    margin-bottom: 2.5rem;
  }

  h1 {
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
}

#video {
  background-image: url('../images/bg-video.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;

  margin-top: -6rem;
  padding-top: 7rem;

  h3, iframe, .social {
    margin-bottom: 1rem;
  }
}